{%extends 'base.html'%}
{%block title%}landing-screen{%endblock%}
{%block content%}
  <h3>Welcome! {{user.username}} </h3>
  <h4>Visit Requests</h4>
  <table>
    <tr>
      <th>Location</th>
      <th>Requested By</th>
    </tr>
    {% for visit in visit_requests %}
    <tr>
      {# Each "contact" is a Contact model object. #}
      <td>
        {{visit.location|upper}}
      </td>
      <td>
        {{visit.certifiedbyname|title}}
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{%endblock%}